<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Movie</title>
    <link rel="stylesheet" href="css/create.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <% if (moviedata.userName != "" && moviedata.roles == "Admin") { %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <a href="/create">Add Movie</a>
      <a href="/movieupdate">Update Movie</a>
      <a href="/moviedelete">Delete Movie</a>
      <% }%>
      <% if (moviedata.roles == "User" ){ %>
      <a href="/favorite/<%=moviedata.user_id%>">Favorite</a>
      <% }%>
      <% if (!moviedata.userName) { %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (moviedata.userName) { %>
      <a href="/logout">LogOut</a>
      <% } %>
    </header>
    <div class="mainbox">
      <form method="post" action="/create" enctype="multipart/form-data">
        <h1>Add Movie</h1>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" />
        <br />
        <label for="director">Director:</label>
        <input type="text" name="director" id="director" />
        <br />
        <input type="file" name="imageFile" id="" />
        <input type="submit" value="create" />
      </form>
    </div>
  </body>
</html>
