<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <style>
      body {
        background-color: #2c76c0;
      }
    </style>
  </head>
  <body>
    <h1>login</h1>
    <form method="post" action="/login">
      <label for="name">Username:</label>
      <input type="text" name="name" />
      <br />
      <label for="password">Password:</label>
      <input type="text" name="password" />
      <br />
      <input type="submit" value="login" />
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
