<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      body {
        background-color: #2c76c0;
      }
      
        #txtPassword{
           -webkit-text-security:disc;
       }

    </style>
  </head>
  <body>
    <h1>Register</h1>
    <% if (checkUserDupe) { %>
      <p><%=checkUserDupe%></p>
    <% } %>
    <form method="post" action="/register">
      <label for="name" >Username:</label>
      <input type="text" name="name"/>
      <br />
      <label for="password">Password:</label>
      <input type="text" name="password" id="txtPassword"/>
      <br />
      <input type="submit" value="register" />
    </form>
    <a href="/">Back to List</a>
  </body>
</html>
