@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff5e4;
}

header {
  height: 50px;
  width: 100%;
  font-size: x-large;
  background-color: #ffe3e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: #ff9494;
  font-weight: 600;
}

.mainbox {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(236, 131, 131);
}

form h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
