@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff5e4;
}

header {
  height: 50px;
  width: 100%;
  font-size: x-large;
  background-color: #ffe3e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: #ff9494;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
  height: 150px;
  object-fit: cover;
}

.imgitem {
  width: 300px;
}

.imgitem a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #ff9494;
  font-weight: 600;
  font-size: x-large;
}

.mainbox {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1536px) {
  .imgitem {
    width: 287px;
  }
}

@media screen and (max-width: 1440px) {
  .imgitem {
    width: 267px;
  }
}
@media screen and (max-width: 1024px) {
  .imgitem {
    width: 234px;
  }
}

@media screen and (max-width: 768px) {
  .imgitem {
    width: 232px;
  }
}

@media screen and (max-width: 426px) {
  header a {
    font-size: 15px;
  }
  .imgitem {
    width: 180px;
  }
  .imgitem a {
    font-size: 15px;
  }
}
