@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-style: normal;
}

body {
  background-color: #fff5e4;
  height: 100vh;
}

header {
  height: 6%;
  width: 100%;
  font-size: x-large;
  background-color: #ffe3e1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: #ff9494;
  font-weight: 600;
}

img {
  width: 70%;
  height: 85%;
  object-fit: cover;
  border-radius: 90px;
}

h2 {
  font-weight: 500;
  position: absolute;
  right: 30px;
  top: 70px;
  background-color: #17ca1d;
  width: 400px;
  padding: 10px 0px 10px 10px;
  border-radius: 15px;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 2px solid #4caf50;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #4caf50;
}

.btn:hover {
  color: #212427;
  background-color: #4caf50;
}

.mainbox {
  height: 94%;
  width: 100%;
  display: flex;
}

.box1 {
  width: 60%;
  height: 100%;
}

.box1 div:nth-of-type(1) {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 div:nth-of-type(2) {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 426px) {
}
